<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.or.kead.ncsoft.nailcare">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name="kr.or.kead.ncsoft.nailcare.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kr.or.kead.ncsoft.nailcare.LaterActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="kr.or.kead.ncsoft.nailcare.MenuActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="kr.or.kead.ncsoft.nailcare.Proc1Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name="kr.or.kead.ncsoft.nailcare.Step1Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name="kr.or.kead.ncsoft.nailcare.Step2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name="kr.or.kead.ncsoft.nailcare.Step3Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name="kr.or.kead.ncsoft.nailcare.Step4Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name="kr.or.kead.ncsoft.nailcare.Step5Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name="kr.or.kead.ncsoft.nailcare.BreaktimeMenuActivity"
            android:screenOrientation="landscape" />
        <activity android:name="kr.or.kead.ncsoft.nailcare.RefreshActivity" />
        <activity android:name="kr.or.kead.ncsoft.nailcare.PrepareActivity" />
        <activity android:name="kr.or.kead.ncsoft.nailcare.ServiceEndActivity" />
        <activity android:name="kr.or.kead.ncsoft.nailcare.AwayActivity"></activity>
    </application>

</manifest>